{% extends "recipes/base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
</form>
{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<p>Don't have an account? <a href="{% url 'recipes:signup' %}">Sign up here</a></p>
<p><a href="{% url 'recipes:password_reset' %}">Forgot Password?</a></p>
{% endblock %}
