{% extends "recipes/base.html" %}
{% load static %}
{% block title %}Recipes Page{% endblock %}

{% block content %}
<div class="recipes-page">
    <!-- Loads algoliasearch -->
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.15.0/dist/algoliasearch.umd.js"></script>
    <!-- Loads instantsearch -->
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>

    <div class="search-box">
        <input id="searchbox" type="text" placeholder="Search for recipes..." />
        <input id="search-button" type="button" value="Search" onclick="searchIndex();"/>
    </div>
    <div id="hits"></div>

    <!-- Configures search functionality -->
    <script src="{% static 'js/search_config.js' %}"></script>
    
    <h2>Recipes</h2>
    <div class="recipe-list">
        {% for recipe in recipes %}
            <div class="recipe-card">
                {% if recipe.image %}
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-image">
            {% else %}
                <img src="{% static 'images/default-recipe.jpg' %}" alt="Default Recipe Image" class="recipe-image">
                {% endif %}
                <div class="recipe-details">
                    <h3>{{ recipe.title }}</h3>
                    <p><strong>Category:</strong> {{ recipe.category.name }}</p>
                    <p><strong>Cooking Time:</strong> {{ recipe.cook_time }} minutes</p>
                    <p><strong>Servings:</strong> {{ recipe.servings }}</p>
                    <a href="{% url 'recipes:view_recipe' recipe.slug %}" class="view-button">View Recipe</a>
                </div>
            </div>
        {% empty %}
            <p>No recipes available.</p>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <h3>Add a Recipe</h3>
    <form method="post" action="{% url 'recipes:create_recipe' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Recipe</button>
    </form>
    {% endif %}
</div>
{% endblock %}